<header class="page-header">
	<div class="container">
		<div class="page-header__content">
			<a href="/">
			<img src="/assets/logo.png" alt="logo" class="logo" />
			</a>
			<nav>

				<ul role="list" class="nav-list flex-group">
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="/blog/">О нас</a>
					</li>
					<li>
						<a href="/blog/">Проекты</a>
					</li>
					<li>
						<a href="/blog/">Обучение</a>
					</li>
					<li>
						<a href="/blog/">Библиотека</a>
					</li>
					<li>
						<a href="/blog/">Контакты</a>
					</li>
					<li>
						<a href="/blog/">Архив</a>
					</li>
					<li>
						<a href="/blog/">Полезные ссылки</a>
					</li>
				</ul>
			</nav>
		</div> <!-- HEADER-CONTENT -->
	</div>
	</div>
</header>